{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(193, 72, 123, 0.5);">
            <a class="navbar-brand">
                <img src="{% static 'img/navpic.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                OurMoodBoard
            </a>
      </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>