{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <title>OurMoodBoard</title>
    </head>
    <body>
		<div style="margin-top: 30px">
			<h1 id = "heading" class="d-flex justify-content-center" style="text-align: center">Hello! Describe your mood below &#x1F63A</h1>
		</div>
		<div class="d-flex justify-content-center" style="margin-top: 15px">
			<form class="needs-validation" novalidate id="formulir" method='POST'>
				{% csrf_token%}
				{% for form in mood_form %}
				<div class="form-group">
					{{form.label}}
					{{form}}
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class="invalid-feedback">
						This field is required.
					</div>
				</div>
				{% endfor %}
				<div class="d-flex justify-content-center">
					<button class='btn btn-primary' type="Submit" id="submit">Submit</button>
				</div>
			</form>
			<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
			</script>
		</div>
		
		<div class="table-responsive" style="margin-top: 40px">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" id="head">#</th>
						<th scope="col" id="head">Moods</th>
						<th scope="col" id="head">Date & Time</th>
						<th scope="col" id="head"> </th>
					</tr>
				</thead>
  
				<tbody>
					{% for post in posts%}
					<tr class = "success">
						<th scope="row" id="head">{{forloop.counter}}</th>
						<td>{{post.mood}}</td>
						<td>{{post.created_date}}</td>
						<td style="font-size: 24px"> &#x2728 </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </body>
</html>

{% endblock %}